@import url(https://fonts.googleapis.com/css?family=PT+Sans:300,400,600);
body{
    font-family: PT Sans;
}
.weather {
    border: 1px solid lightgrey;
    border-radius: 10px;
}
h3 > span.text-muted{
    font-size: 15px;
}